# Pasta criada automaticamente pelo Vagrant
# Contém arquivos internos da máquina virtual
# Não deve ser enviada para o GitHub
.vagrant/

# Ignora qualquer arquivo com extensão .log
# Arquivos de log são apenas registros de execução
*.log
